body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #dbeafe, #f0f9ff);
}

.container {
    width: 420px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    color: #2563eb;
    margin-bottom: 25px;
}

input {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

button {
    padding: 12px 18px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
}

.card {
    margin-top: 25px;
    padding: 20px;
    background: #eff6ff;
    border-radius: 12px;
    text-align: left;
}

.card p {
    margin: 10px 0;
}